<section class="plan-sec" id="pricing">
    <div class="container">
        <h2 class="main-title">Our Subscription Plans</h2>
        <p class="plan-pera pb-5">
            Choose the plan that is right for your company. Upgrade anytime. Control and customise your subscription
            through your company login administration panel.
        </p>

        {# TODO: Implement #}
        {# view_cell('\App\Cells\PricingTable', ['ids' => config(StripeData::class)->ids('plans', lastOnly: true)], 300) #}
    </div>
</section>